In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.39
    Uninstalling SQLAlchemy-2.0.39:
      Successfully uninstalled SQLAlchemy-2.0.39
Successfully installed sqlalchemy-1.3.9

WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
pandasai 1.5.13 requires pandas==1.5.3, but you have pandas 2.2.3 which is incompatible.
pandasai 1.5.13 requires pydantic<2,>=1, but you have pydantic 2.10.4 which is incompatible.
pandasai 1.5.13 requires sqlalchemy<2.0.0,>=1.4.49, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.19.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.39

WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandasai 1.5.13 requires pandas==1.5.3, but you have pandas 2.2.3 which is incompatible.
pandasai 1.5.13 requires pydantic<2,>=1, but you have pydantic 2.10.4 which is incompatible.
pandasai 1.5.13 requires sqlalchemy<2.0.0,>=1.4.49, but you have sqlalchemy 2.0.39 which is incompatible.

Requirement already satisfied: ipython-sql in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (0.5.0)

WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)

Requirement already satisfied: prettytable in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (3.15.1)
Requirement already satisfied: ipython in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.19.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from prettytable) (0.2.12)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Yagnesh\AppData\Local\Programs\Python\Python311\Lib\site-packages)

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql  select distinct(Launch_Site) from SPACEXTABLE limit 5

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql select * from SPACEXTABLE where Launch_Site like "CCA%" limit 5

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "limit": syntax error
[SQL: select * from SPACEXTABLE where Launch_Site like CCA% limit 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [12]:
%sql select sum (PAYLOAD_MASS__KG_) from SPACEXTABLE where Customer = "NASA (CRS)"

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: CRS
[SQL: select sum (PAYLOAD_MASS__KG_) from SPACEXTABLE where Customer = NASA (CRS)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [13]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [14]:
%sql select min(date) from SPACEXTABLE where Landing_Outcome= "Success"

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: Success
[SQL: select min(date) from SPACEXTABLE where Landing_Outcome= Success]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [15]:
%sql select distinct (Booster_Version), PAYLOAD_MASS__KG_ from SPACEXTABLE where  Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS__KG_  between 4000 and 6000  order by PAYLOAD_MASS__KG_

 * sqlite:///my_data1.db
Done.

[('F9 FT B1026', 4600),
 ('F9 FT B1022', 4696),
 ('F9 FT  B1031.2', 5200),
 ('F9 FT  B1021.2', 5300)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [16]:
%sql select count(*),  Mission_Outcome from SPACEXTABLE group by  Mission_Outcome order by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[(1, 'Failure (in flight)'),
 (98, 'Success'),
 (1, 'Success '),
 (1, 'Success (payload status unclear)')]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [17]:
%sql select booster_version, PAYLOAD_MASS__KG_ from SPACEXTABLE where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [18]:
%sql select substr(Date, 6,2) as Month ,Booster_Version,Landing_Outcome,Launch_Site   from SPACEXTABLE where Landing_Outcome = 'Failure (drone ship)' and substr(date, 0, 5) = '2015'

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'Failure (drone ship)', 'CCAFS LC-40'),
 ('04', 'F9 v1.1 B1015', 'Failure (drone ship)', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [19]:
%sql SELECT Landing_Outcome, COUNT(*) AS COUNT_LAUNCHES, RANK() OVER (Order BY COUNT(*) DESC) as ranking  FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY COUNT_LAUNCHES DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10, 1),
 ('Success (drone ship)', 5, 2),
 ('Failure (drone ship)', 5, 2),
 ('Success (ground pad)', 3, 4),
 ('Controlled (ocean)', 3, 4),
 ('Uncontrolled (ocean)', 2, 6),
 ('Failure (parachute)', 2, 6),
 ('Precluded (drone ship)', 1, 8)]